<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UNNotificationExtensionCategory</key>
			<array>
				<string>CAROUSEL_CATEGORY</string>
				<string>CONFIRMATION_CATEGORY</string>
				<string>RESPONSE_CATEGORY</string>
				<string>SUBSCRIPTION_CATEGORY</string>
				<string>TRANSACTION_CATEGORY</string>
				<string>CONTENT_CATEGORY</string>
				<string>CHECKOUT_CATEGORY</string>
				<string>FORM_ACTION_CATEGORY</string>
				<string>DESTRUCTIVE_ACTION_CATEGORY</string>
				<string>CONTACT_CATEGORY</string>
			</array>

			<key>UNNotificationExtensionDefaultContentHidden</key>
			<true/>
			<key>UNNotificationExtensionInitialContentSizeRatio</key>
			<real>0.7</real>
			<key>UNNotificationExtensionUserInteractionEnabled</key>
			<true/>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.content-extension</string>
	</dict>
	<key>RCTNewArchEnabled</key>
	<true/>
</dict>
</plist>
